body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  nav {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    color: #ccc;
  }
  
  a.back-to-home {
    display: block;
    color: #a70606;
    text-decoration: none;
    margin-top: 20px;
  }
  
  a.back-to-home:hover {
    color: #ff0000;
  }
  